<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="contenedor">
        <div class="titulo" style="width: 700px; margin-left:180px;">
            <header class="d-flex justify-content-between aling-items-center">
                <h1 >Bienvenid@ <br><span style="font-size: 25px;">{{autor}}</span></h1>
            </header>
        </div>
        <br>
        <!-- <div class="registro">
            <h4 style="margin-top: 10px; margin-left: -106px;">Elige un poema:</h4>
        </div> -->
    
        <main >
            <div  class="scroll" style="overflow-y:scroll; height:300px; width:500px; margin-left: 162px; font-size:15px ;" >
                {%for dato in datos%}
                    <div>
                        <a style="color:rgba(51, 47, 47, 0.999)" href="/mostrar_poema/{{dato.id_poema}}/{{dato.id_creador_poema}}"><h3 >{{dato.titulo_poema}}</h3></a>
                        
                        publicado por: <span style="font: oblique bold 100% cursive;">{{dato.autor}}</span></p>
                    </div><br><br>
                {%endfor%}
            </div>
        </main>
            <div class="boton" style="margin-top: 60px;">
                <a href="/nuevo_poema" style="color: rgb(39, 6, 2);">Crear poema</a><br><br>
                <a href="/cerrar_sesion" style="color: rgb(39, 6, 2)" >Cerrar Sesion</a>
            </div>
    </div>
</body>
</html>