<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar poemas</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div  class="contenedor" style="background-image: url(/static/image/nuevo.jpg);">
        <div class="titulo" style="width: 550px; margin-left: auto; margin-right: auto;">
            <div>
                <h1 >{{datos.titulo_poema}}</h1>
            </div>
            
        </div>
        <div class="scroll" style="overflow-y:scroll; height:400px; width:500px; margin-left: 162px;">
            <br><p><strong style="font: oblique bold 120% cursive;">{{datos.poema}}</strong></p>
        </div><br>
        <div>
            <!-- <button style="margin-left:162px;" class="btn btn-success; background-color:;">Me gusta:</button> -->
        </div>
        <div class="boton" style="margin-top: 60px; margin-top: -20px;">
            <a href='/bienvenido' style="color: rgb(39, 6, 2)"  >Regresar</a>
            {% if datos.id_creador == datos.id_sesion %}
            <a href='/actualizar/poema/{{datos.id_poema}}' style="color: rgb(39, 6, 2)"  >Actualizar</a>
            <a href='/eliminar/{{datos.id_poema}}' style="color: rgb(39, 6, 2)"  >Eliminar</a>

            {%endif%}
            <br><br>
            <p>Publicado por: {{datos.creador}}</p>
        </div>
    </div>
    
    
    
    
</body>
</html>