*{
    margin: 0;
    padding: 0;
}

.contenedor{
    background-image: url(/static/image/nuevo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.contenedor_titulo{
    /* background-color: aqua; */
    width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(57, 151, 52);
    font-size: 40px;
    font: oblique bold 120% cursive;
}

.titulo{
    width: 265px;
    height: 207px;
    margin-left: 267px;
    margin-right: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: rgb(39, 6, 2);
    font-size: 40px;
    font: oblique bold 120% cursive;
    padding-top: 107px;
    text-align: center;
}

.introduccion{
    margin-top: -60px;
    font-size: 23px;
    text-align: -webkit-center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font: oblique bold 120% cursive;
}

.registro{
    margin-top: -50px;
    font-size: 23px;
    text-align: -webkit-center;
    width: 500px;
    margin-left: auto;
    margin-right: 32px;
    display: flex;
    font: oblique bold 120% cursive;
    padding-top: 19px;
}



.botones{
    width: 200px;
    height: 30px;
    margin-top: 90px;
    display: flex;-webkit-writing-mode: vertical-lr;
    margin-left: auto;
    margin-right: auto;
}

.boton{
    width: 1000px;
    height: 179px;
    margin-left: -101px;
    margin-right: auto;
    justify-content: center;
    font-size: 40px;
    font: oblique bold 120% cursive;
    text-align-last: center;
    margin-top: 179px;
}

.inicia_sesion{
    flex: 0 0 auto;
    width: 50%;
    margin-left: 121px;
    margin-top: 4px;
}

.poema{
    margin-top: -113px;
    font-size: 23px;
    text-align: -webkit-center;
    width: 500px;
    margin-left: 157px;
    margin-right: 32px;
    display: flex;
    font: oblique bold 120% cursive;
}

.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

.scroll::-webkit-scrollbar{
    width: 5px;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: rgb(57, 54, 49);
    border-radius: 5px;
    height: 100px;
}